$color-border-red:#ea5353;
$color-border-cyan:#45d3d3;
$color-border-yellow:#fcaf4a;
$color-border-blue:#549ef2;
$color-body-background:#fafafa;
$color-font-text:#a3a5ae;
$color-font-title:#4c4e61;
$color-font-header:#6c757d;
