// card top border design
.border-cyan{
    border-top: 4px solid $color-border-cyan;
}
.border-red{
    border-top: 4px solid $color-border-red;
}
.border-yellow{
    border-top: 4px solid $color-border-yellow;
}
.border-blue{
    border-top: 4px solid $color-border-blue;
}